*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    width: 100vw;
    height: 70px;
    border: 1px solid black;
}
.firstBlock{
    width: 100vw;
    height: 92.5vh;
    border: 1px solid green;
}
.container{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}