*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: url("./pictures/kids.jpg") center center / cover no-repeat;
}
h1{
    font-family: "Marvin Visions";
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.WII{
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    /* background-color: black; */
}
.WII_logo{
    display: flex;
    justify-content: end;
}
.WII_logo__date{

}
.WII_logo__hoco{
    width: 300px;
    height: 150px;
    border: 1px solid red;
    background-color: black;
}
.WII_logo__hoco-picture{
    width: 300px;
    height: 150px;
}
.main_name{

}
.WII_info{

}
.WII_b{
    display: flex;
}
.WII_b__picture{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: black;
}
.WII_b__buttons{
    display: flex;
}
.WII_b__buttons-register{

}
.WII_b__buttons-events{

}


@font-face {
    font-family: "Marvin Visions";
    src: url("./fonts/MarvinVisions-Bold.otf");
    font-style: normal; 
    font-weight: normal; 
}