*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    user-select: none;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
body::-webkit-scrollbar {
    width: 5px;               
}
body::-webkit-scrollbar-track {
    background: rgb(58, 58, 57);        
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 25, 33);   
    border-radius: 20px;     
}
h1{
    font-family: "MarvinVisions-Bold";
    letter-spacing: 4px;
}
p, h2, li, label{
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
#navbar{
    width: 0px;
    height: 0px;
    overflow: hidden;
}
#main_sec{
    display: flex;
    flex-direction: column;
}
#logo_smolmash{
    width: 268px;
    height: 85px;
}
#logo_rr{
    width: 150px;
    height: 70px;
}
.white_text{
    color: #3A3A39;
    font-size: 52px;
}
.red_text{
    color: rgb(255, 25, 33);
    font-size: 52px;
}

.header{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(58, 58, 57);
}
.logo_smolMash{
    margin: 1%;
    margin-right: 0%;
    margin-left: 2%;
}
.logo_roborabbit{
    margin: 1%;
    margin-right: 2%;
    margin-left: 0%;
}
#navigation{
    width: 1440px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.bdis{
    margin-left: 20px;
}
.breg{
    margin-right: 20px;
}
.navigation_block{
    width: auto;
    color: white;
    font-size: 17px;
    margin: 10px;
}
.firstBlock{
    width: 100vw;
    display: flex;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
}
.pic{
    position: absolute;
    width: 100vw;
    height: inherit;
    z-index: -1;
    top: 0px;
}
#cont1{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}
.firstBlock_picture{
    width: 500px;
    height: 500px;
}
.firstBlock_picture__pic{
    width: 450px;
    height: 500px;
}
.firstBlock_text{
    width: 900px;
    text-align: center;
}
.firstBlock_text__name{
    display: flex;
    justify-content: center;
}
.firstBlock_text__date{
    color: #3A3A39;
    margin-top: 15px;
    font-size: 30px;
}
.firstBlock_text__info{
    margin-top: 20px;
    color: #3A3A39;
    font-size: 24px;
}
.firstBlock_text__buttons{
    width: 500px;
    height: 100px;
    margin-left: 300px;
    margin-top: 30px;
    display: flex;
}
.button{
    width: 240px;
    height: 55px;
    margin: 10px;
    border-radius: 50px;
    background-color: rgb(255, 25, 33);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.ji{
    font-size: 20px;
}
.button:hover{
    background-color: rgb(58, 58, 57);
    transition: 0.5s;
}
#discription{
    width: 100%;
    height: 1080px;
    background-color:white;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.svg_hromb{
    width:350px; 
    height:350px; 
    fill:none;
    position: absolute;
    z-index: 0;
}
.hromb{
    d: path("M 175 0 L 350 175 L 175 350 L 0 175 L 175 0 Z");
}
#black_hromb{
    fill:rgb(58, 58, 57);
}
#gray_hromb{
    fill:#E6E7E8;
}
#red_hromb{
    fill:#D71921;
}
/* r1-r17 ромбы*/
#r1{
    left: -250px;
}
#r2{
    left: -60px;
    top: -190px;
}
#r3{
    left: 130px;
}
#r4{
    left: -60px;
    top: 190px;
}
#r5{
    left: -60px;
    top: 570px;
}
#r6{
    left: -250px;
    top: 380px;
}
#r7{
    left: -250px;
    top: 760px;
}
#r8{
    left: -60px;
    top: 950px;
}
#r9{
    left: 130px;
    top: 380px;
}
#r10{
    left: 130px;
    top: 760px;
}
#r11{
    left: 320px;
    top: 190px;
}
#r12{
    left: 320px;
    top: 570px;
}
#r13{
    left: 320px;
    top: 950px;
}
#r14{
    left: 510px;
    top: 380px;
}
#r15{
    left: 510px;
    top: 760px;
}
#r16{
    left: 700px;
    top: 950px;
}
#r17{
    left: 700px;
    top: 570px;
}
#r18{
    right: 15px;
    top: -190px;
}
#r19{
    right: 395px;
    top: -190px;
}
#r20{
    right: -175px;
    top:0px;
}
#r21{
    right: 205px;
    top: 0px;
}
#r22{
    right: 15px;
    top: 190px;
}
#r23{
    right: 395px;
    top: 190px;
}
#r24{
    right: -175px;
    top: 380px;
}
#r25{
    right: 205px;
    top: 380px;
}
#r26{
    right: 585px;
    top: 380px;
}
#r27{
    right: 15px;
    top: 570px;
}
#r28{
    right: 395px;
    top: 570px;
}
#r29{
    right: -175px;
    top: 760px;
}
#r30{
    right: 205px;
    top: 760px
}
#r31{
    right: 585px;
    top: 760px;
}
#r32{
    right: 15px;
    top: 950px;
}
#r33{
    right: 395px;
    top: 950px;
}
#r34{
    right: 775px;
    top: 950px;
}
#r35{
    right: 1155px;
    top: 950px;
}
#r36{
    right: 1535px;
    top: 950px;
}
#r37{
    right: 1345px;
    top: 760px;
}
#r38{
    right: 1725px;
    top: 760px;
}
#r39{
    right: 1535px;
    top: 570px;
}
#r40{
    right: 1725px;
    top: 380px;
}
.sec2_line{
    background-color:rgb(230, 231, 232, 60%);
    width: 1116px;
    height: 319px;
    position: absolute;
    right: -20px;
    top: 540px;
    display: flex;
    align-items:center;
    border-radius: 20px;

}
.sec2_line:nth-child(1){
    top: 73px;
}
#sec2_line_p{
    font-size: 32px;
    margin-left: 25px;
    text-align: center;
    width: 70%;
    line-height: 50px;
}
.thirdBlock{
    width: 100%;
    height: 980px;
    position: relative;
    background: url("./pictures/events_bg.jpg")center center / cover no-repeat;
    overflow: hidden;
}
.thirdBlock_text{
    text-align: center;
}
.thirdBlock_info{
    width: 100%;
    height: 90%;
}
.one{
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two{
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one_block{
    width: 35%;
    height: 80%;
    border-radius: 20px;
    background-color: rgb(230, 231, 232) ;
    display: flex;
    flex-direction: column;
}
.one_text{
    display: flex;
    font-size: 19px;
    color: white;
}
.two_block{
    width: 24%;
    height: 80%;
    border-radius: 20px;
    background-color: rgb(230, 231, 232);
}
.two_block_head{
    font-size: 19px;
    color: white;
    text-align: center;
}
.block_text{
    color: #3A3A39;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
.block_img{
    width: 100px;
    height: 100px;
    margin: 20px;
}
.block_h1{
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #D71921;
    font-size: 30px;
}
#events{
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#sec4_z{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #ffffff;
}
#sec4_h_w{
    font-size: 48px;
    width: 100%;
    margin-top: 35px;
    text-align: center;
}
#sec4_h_r{
    color: #D71921;
}
.circys{
    width: 30px;
    height: 30px;
    border: 6px solid #D71921;
    border-radius: 100%;
    position: relative;
}
#sec4_plan{
    display: flex;
    flex-direction: column;
    height: 75%;
    margin:0px;
    width: 50px;
    align-items: start;
}
#sec4_plan_txt{
    width: 600px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
}
.sec4_line{
    width: 5px;
    height: 235px;
    background-color:#D71921;
}
#sec4_flex{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#plan_txt{
    height: 50px;
    line-height: 45px;
    font-size: 32px;
    color: #3A3A39!important;
    margin: 0;
    margin-left: 30px;
}
.fithBlock{
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.participants{
    margin-top: 10%;

}
.gifts{
    margin-top: 35%;
    margin-left: 50%;
}
.line{
    width: 200%;
    border: 2px solid red;
    margin-left: -100%;
}
.line_r{
    width: 100vw;
    border: 2px solid red;
}
.list{
    margin-left: 30px;
}
.list_o{
    color: 3A3A39;
    font-size: 24px;
    line-height: 40px;
}
#organisators{
    width: 100%;
    height: 1080px;
    background-color: white;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}
.img_rr{
   width: 380px;
   height: 250px;
}
#img_mash{
    width: 520px;
}
.text_slide{
    color:#3A3A39;
    font-size: 48px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    font-family: "MarvinVisions-Bold";
    letter-spacing: 4px;
}
@keyframes scroll{
    0% { transform: translateX(0); }
	100% { transform: translateX(calc(-640px * 3))}
}
.slider {
	height: 400px;
	margin:0 auto;
	position: relative;
	width: 1920px;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1;
}
.slide-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: 1920px;
}
.slide {
    margin-left: 70px;
    margin-right: 70px;
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
}
#form{
    width: 100vw;
    height: 940px;
    background: url("./pictures/young-boy-tablet.jpg") center center / cover no-repeat;
}
.form_form{
    width: inherit;
    height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
    justify-content: center;

}
input{
    border: none;   
    border-bottom: 3px solid #D71921;
    background-color:white;
}
input:focus{
    outline: 0;
}
.forma{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}
.forma label{
    font-size: 20px;
    color: black;
}
.forma input{
    width: 95%;
    height: 35px;
    font-size: 35px;
    text-align: center;
}
#div_form{
    position: absolute;
    left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: auto;
    border: 2px solid black;
    border-radius:20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#hamburger-icon {
    cursor: pointer;
    display: none;
}
#hamburger-icon div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
#nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#nav-links li{
    padding: 0 20px;
}
#nav-links a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
@font-face {
    font-family: "MarvinVisions-Bold";
    src: url("./fonts/MarvinVisions-Bold.otf");
    font-style: normal; 
    font-weight: normal; 
}
.bg{
    width: 50vw;
    height: 100%;
    background: url("./pictures/firstBlock_bg.png") center center / cover no-repeat;
    margin-top: 25px;
}
.h1_block{
    color: #D71921;
    font-size: 30px;
}
#pagb{
        display: flex;
        flex-direction: column;
        width: 100%;
}
.img_win{
    rotate: -45deg;
    width: 280px;
    height: 280px;
}
.text_win{
    font-size: 32px;
    text-align: center;
    color:black;
}
.div_hromb_img{
    display: flex;
    justify-content: center;
    align-items:center;
    border: 7px solid #3A3A39;
    width: 250px; 
    height: 250px;
    margin: 0px;
    rotate: 45deg; 
    overflow: hidden;
}
.div_hromb{
    width: 100%;
    display: flex;
}
.div_hromb:nth-child(2){
    justify-content: flex-end;
}
.BUTT{
    width: 300px;
    height: 60px;
}
.forma label{
    font-size: 24px;
    margin: 10px 0px 5px 20px;
}
@media(max-width: 1440px){
    .img_fith{
        width: 350px;
        height: 350px;
        top: 50px;
        left: 780px;
    }
    .img_fith:nth-child(2){
        width: 500px;
        height: 500px;
        top: 470px;
        left: 120px;
    }
    .img_fith:nth-child(3){
        width: 350px;
        height: 350px;
        top: 50px;
        left: 400px;
    }
    #discription{
        height: 980px;
    }
    .container{
        width: 1140px;
        border: 1px solid orange;
    }
    .white_text{
        color: white;
        font-size: 40px;
    }
    .red_text{
        color: rgb(255, 25, 33);
        font-size: 40px;
    }
    .firstBlock{
        height: 980px;
    }
    .firstBlock_picture{
        width: 400px;
        height: 400px;
        margin-top: 0px;
    }
    .firstBlock_picture__pic{
        width: 400px;
        height: 400px;
    }
    .firstBlock_text{
        width: 750px;
        margin-top: 0px; 
        margin-left: -15px;
    }
    .firstBlock_text__name{
        width: 750px;
        font-size: 30px;
    }
    .firstBlock_text__info{
        font-size: 22px;
    }
    .firstBlock_text__buttons{
        margin-left: 100px;
    }
    .pic{
        width: calc(100vw + 10%);
        height: 100vh;
        margin-left: -10%;
    }
    #navigation{
        font-size: 12px;
    }
    .sec2_line{
        width: 80%;
        height: 280px;
        top: 470px;
    }
    #sec2_line_p{
        width: 900px;
        font-size: 24px;
    }
    .block_img{
        margin: 15px;
    }
    .block_text{
        font-size: 20px;
    }
    #events{
        height: 980px;
    }
    .circys{
        width: 25px;
        height: 25px;
        border: 4px solid rgb(215, 25, 33);
    }
    .sec4_line{
        height: 25%;
    }
    #sec4_plan_txt{
        justify-content: space-between;
        height: 69%;
    }
    #plan_txt{
        line-height: 0px;
        font-size: 28px;
    }
    .fithBlock{
        height: 980px;
    }
    .line{
        width: 250%;
        margin-left: -150%;
    }
    .participants{
        margin-left: 12%;
        margin-top: 15%;
    }
    .gifts{
        margin-left: 22%;
        margin-top: 40%;
    }
    #organisators{
        height: 980px;
    }
    .form_form{
        height: 980px;
    }
    .list_o{
        width: 300px;
    }
}
@media(max-width: 1200px){
    .container{
        width: 960px;
        border: 2px solid green;
    }
    .header{
        height: 100px;
    }
    #logo_rr{
        width: 150px;
        height: 70px;
    }
    #logo_smolmash{
        width: 260px;
        height: 85px;
    }
    .logo_smolMash{
        margin-left: 1%;
    }
    .navigation_block{
        font-size: 14px;
    }
    .firstBlock_picture{
        width: 300px;
        height: 300px;
        height: 25%;
        margin-top: 5%;
    }
    .firstBlock_picture__pic{
        width: 300px;
        height: 100%;
    }
    .firstBlock{
        height: 980px;
    }
    .firstBlock_text{
        width: 650px;
    }
    .firstBlock_text__name{
        width: 650px;
        display: flex;
        flex-wrap: wrap;
    }
    #sec2_line_p{
        width: 750px;
        font-size: 23px;
    }
    .two_block{
        height: 80%;
    }
    .h1_block{
        font-size: 20px;
    }
    .two_block_body{
        display: flex;
        justify-content: center;
    }
    .two__block_text{
        width: 90%;
    }
    .participants{
        margin-left: 0px;
    }
    .hui{
        margin-left: 0px;
    }
}
@media(max-width: 992px){
    .container{
        width: 760px;
        border: 2px solid brown;
    }
    .header{
        height: 100px;
    }
    .block_text{
        font-size: 21px;
    }
    .list_o{
        font-size: 30px;
    }
    #logo_rr{
        width: 140px;
        height: 65px;
    }
    #logo_smolmash{
        width: 260px;
        height: 85px;
    }
    .firstBlock{
        height: 900px;
    }
    .firstBlock_text{
        width: 100%;
        text-align: center;
        margin-left: 5px;
    }
    .firstBlock_text__name{
        width: 650px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
    }
    .firstBlock_text__date{
        margin-top: 5px;
    }
    .firstBlock_text__info{
        margin-top: 10px;
        font-size: 27px;
    }
    .firstBlock_picture{
        width: 0px;
        height: 0px;
        height: 0px;
        margin-top: 0px;
    }
    .firstBlock_picture__pic{
        width: 0px;
        height: 0px;
    }
    .sec2_line{
        width: 700px;
        height: 300px;
    }
    #sec2_line_p{
        width: 600px;
        font-size: 25px;
    }
    .block_img{
        width: 70px;
        height: 70px;
        margin: 10px 10px 0px 0px;
    }
    .block_h1{
        font-size: 19px;
    }
    #ft{
        margin-left: 10px;
    }
    #sp{
        margin: 10px 0px 0px 10px;
    }
    .two_block{
        width: 32%;
    }
    #sec4_plan{
        margin-left: 10px;
    }
    #plan_txt{
        width: 500px;
    }
    #sec4_plan_txt{
        height: 68%;
        margin-top: 10px;
    }
    #pagb{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        width: 40px;
        height: 40px;
        overflow: visible;
    }
    #navigation{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
    #hamburger-icon {
        display: block;
    }

    #nav-links {
        flex-direction: column;
        position: absolute;
        align-items:center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(22, 22, 22, 0.9);
        display: none;
        z-index: 100;
        justify-content: center;
    }

    #nav-links li {
        text-align: center;
        padding: 20px 0;
    }
    body.no-scroll {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
    #discription{
        height: 900px;
    }
    .thirdBlock{
        height: 900px;
    }
    #events{
        height: 900px;
    }
    .fithBlock{
        height: 900px;
    }
    #organisators{
        height: 900px;
    }
    .form{
        width: 100vw;
        height: 900px;
    }
    .form_form{
        height: 900px; 
    }
    #nav-links a{
        font-size: 40px;
    }
    .button{
        height: 70px;
    }
    .ji{
        font-size: 22px;
    }
}
@media(max-width: 768px){
    #cont1{      
        display: flex;
        align-content: center;
    }
    .container{
        width: 540px;
        border: 2px solid black;
    }
    .firstBlock{
        height: auto;
    }
    .firstBlock_text{
        margin-top: 15px;
    }
    .firstBlock_text__info{
        width: 530px;
        font-size: 26px;
    }
    .header{
        height: 70px;
    }
    #logo_smolmash{
        width: 160px;
        height: 60px;
        margin-top: 10px;
    }
    #logo_rr{
        width: 120px;
        height: 55px;
    }
    .firstBlock_text__name{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .white_text{
        margin: 0px;
    }
    .firstBlock_text__name{
        width: 530px;
        margin: 0 auto;
    }
    .firstBlock_text__buttons{
        margin-left: 0px !important;
        margin-top: 20px !important;
        margin: 0 auto;
    }
    .button{
        height: 70px;
    }
    .ji{
        font-size: 22px;
    }
    .sec2_line{
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #sec2_line_p{
        width: 500px;
        margin-right: 10%;
    }
    .thirdBlock{
        height: auto;
    }
    .one{
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .one_block{
        width: 80%;
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 30px;
    }
    .block_h1{
        font-size: 30px;
    }
    .block_img{
        width: 80px !important;
        height: 80px !important;
    }
    #sp{
        margin: 10px 10px 0px 0px;
    }
    .block_text{
        font-size: 24px;
    }
    .two{
        display: flex;
        flex-wrap: wrap;
    }
    .two_block{
        width: 80%;
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 30px;
    }
    .h1_block{
        font-size: 30px;
    }
    #dks{
        display: flex;
        flex-direction: row-reverse;
    }
}